.catalog {
    padding-bottom: 79px;

    &__tabs {
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;

    }

    &__tab {
        width: 223px;
        height: 52px;
        font-size: 18px;
        font-weight: 400;
        line-height: 52px;
        letter-spacing: 0px;
        text-transform: uppercase;
        border: 2px solid #D0D0D0;
        text-align: center;
        transform: skewX(-25deg);
        margin: 5px;
        cursor: pointer;
        transition: 0.5s all;

        &:hover {
            box-shadow: 3px 3px #C70101;
            border: none;
        }

        div {
            transform: skewX(25deg);
        }

        &_active {
            background-color: #C70101;
            color: white;
            border: none;
        }
    }

    &__content {
        width: 100%;
        display: none;
        flex-wrap: wrap;
        margin: 57px 0;

        &_active {
            display: flex;
        }
    }

    .catalog-item {
        width: 300px;
        min-height: 442px;
        border: 2px #E8E8E8 solid;
        margin: 8px;
        padding: 20px 20px 26px 20px;
        overflow: hidden;
        position: relative;

        &__img {
            margin: 0;
            max-width: 100%;
            height: 200px;
            display: block;
            margin: 0 auto;
        }

        &__subtitle {
            margin-top: 15px;
            font-size: 16px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: 0px;
            text-align: center;
        }

        &__descr {
            margin-top: 15px;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: center;

        }

        &__link {
            display: block;
            margin-top: 10px;
            font-size: 14px;
            font-weight: 500;
            line-height: 14px;
            letter-spacing: 0px;
            text-align: center;
            color: #C70101;
            text-transform: uppercase;

            &:hover {
                color: #C70101;
            }
        }

        hr {
            background-color: #E8E8E8;
            margin-top: 19px;
            margin-bottom: 21px;
            border-bottom: none;
        }

        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__prices {
            display: flex;
            flex-direction: column;
        }

        &__old-price {
            font-size: 14px;
            font-weight: 300;
            line-height: 14px;
            letter-spacing: 0px;
            text-align: left;
            text-decoration: line-through;

        }

        &__prices {
            margin-top: 2px;
            font-size: 20px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: left;
        }

        &__mini {
            width: 135px;
            height: 44px;
        }

        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }

        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all;

            &_active {
                margin-right: 20px;
                transform: translateX(0);
            }
        }

        &__list {
            position: relative;
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            transition: 0.5 all;
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;
            padding-left: 19px;
            padding-right: 14px;

            &_active {
                margin-right: 0px;
                transform: translateX(-100%);
            }

            li {
                position: relative;
                font-size: 14px;
                font-weight: 300;
                line-height: 21px;
                letter-spacing: 0px;
                margin-top: 10px;

                &:before {
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: #C70101;
                    left: -14px;
                    top: 7px;
                }


            }
        }

        &__back {
            position: absolute;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            line-height: 14px;
            letter-spacing: 0px;
            text-align: center;
            cursor: pointer;
            color: #C70101;
            bottom: 0px;
            left: 50%;
            transform: translateX(calc(-50% - 19px));

            &:hover {
                color: #C70101;
            }


        }
    }
}