.title {
    text-transform: uppercase;
    color: #0D0D0D;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;

    &_left {
        color: #FFF;
        font-size: 36px;
        line-height: 54px;
        text-align: left;
    }



}